@import "~@angular/material/theming";

:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: mat-color($mat-blue, 900);
  display: flex;
  justify-content: center;
  align-items: center;
}

:host-context(.dark-theme) {
  background: mat-color($mat-grey, 700);
}
